@model IEnumerable<GameStore.Models.Community>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    a {
        color: white;
    }
</style>
<p>
    <a asp-action="Create">Add to discussion</a>
</p>

@if (Context.Session.GetInt32("user_ID") != null)
{
    <a asp-action="Create">
        <div class="messageBackdrop" style="background-color: green">
            <div class="messageHeader" style="color: white; background-color:limegreen">
                Create a discussion
            </div>
        </div>
    </a>
}
else
{
    <a asp-action="access" asp-controller="Users">
        <div class="messageBackdrop" style="background-color: red">
            <div class="messageHeader" style="color: white; background-color:crimson">
                Login to create a discussion!
            </div>
        </div>
    </a>
}

<br></br>

@foreach (var item in Model) {
    
    <div class="messageBackdrop">
        <div class="messageHeader">
            @item.user.Name talks about @item.game.Title <br>
            Add as Friend
        </div>
        <a asp-action="Details" asp-route-id="@item.ID">
            <div class="messageContent">
                @item.title
            </div>
        </a>
    </div>
}

